body { 
  background: url('../images/home.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
padding: 25px;  
}
/*a:link{
	color: red;
}
a:active{
	color: blue;
}
a:visited{
	color: green;
}
a:hover{
	color: hotpink;
}
.end{
	float: left;
}*/
/* the end */